{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{about.titleAbout}}{% endblock %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>{{about.nameAbout}}</h1>
    <span class="subheading">{{about.under_titleAbout}}</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" 
            src="{% static 'core/img/Sternz.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">{{about.headerAbout}}</h2>   
        <p>{{about.descriptionAbout}}</p>
        <p>{{about.descriptionDosAbout}}</p>
    </div>
</div>
{% endblock %}