{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{contact.title}}{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>{{contact.name}}</h1>
    <span class="subheading">{{contact.under_title}}</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{contact.description}}</p>
        <br>
        <p><b>{{contact.descriptionDos}}</b>{{contact.subDescripcionDos}}</p>
        <p><b>{{contact.descriptionTres}}</b>{{contact.subDescripcionTres}}</p>
        <p><b>{{contact.descriptionCuatro}}</b>{{contact.subDescripcionCuatro}}</p>
    </div>
</div>
{% endblock %}